<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783110556655-6gtdnc26inn9umf6bkj8h2eqasnk7tb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783110556655-6gtdnc26inn9umf6bkj8h2eqasnk7tb0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>783110556655-qckkjmv9fka3brk5u8posihogemkkquo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABCmpTzsKtv2oar6BSx5zugA2_gbf0yVE</string>
	<key>GCM_SENDER_ID</key>
	<string>783110556655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.chatdar</string>
	<key>PROJECT_ID</key>
	<string>chatdar-f894a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdar-f894a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783110556655:ios:2fd2535cf14173fc47c41a</string>
</dict>
</plist>